.body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*   gap: 10px; */
  grid-auto-rows: minmax(100px, auto);
}
.navigation-bar {
  grid-column: 1 / 13;
  grid-row: 1 / 1;
  border-style: inset;
  background-color: #155e75;
  color: white;
}
.side-bar {
  grid-column: 1/ 3;
  grid-row: 2/12;
  border-style: inset;
  height: 84.5vh;
  background-color: #eab308;
}
.buttons {
  display: grid;
}
.button-side {
  background-color: #b91c1c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: inset;
  border-radius: 5px;
}
